@font-face {
         font-family: myFirstFont;
         src: url('/assets/font/Prompt-Bold.ttf');
      }

	 ul, li, a , h1, h2, h3, h4, h5, p {
      font-family: myFirstFont !important; 
      
    }
