body {
  background: #000;
  color: #333;
  font-size: 14px;
  font-weight: 400;
  font-family: helvetica neue, Helvetica, Arial, sans-serif;
  line-height: 1.42857143;
  padding: 0;
  margin: 0;
}
a,
a:visited {
  color: #585858;
  text-decoration: none;
}
a:hover {
  color: #c6e633;
  text-decoration: underline;
}
a img {
  border: none;
}
a:focus,
a:hover,
a:active {
  outline: none;
}
li {
  list-style: none;
}
ul {
  list-style: none;
}
ul a {
  color: #ccc;
}
blockquote {
  background: #0f0f0f;
  margin: 0 25px 15px;
  color: #818181;
  padding: 10px 10px 0;
  border: 1px solid #1f1f1f;
  text-align: justify;
}
code {
  background: #121212;
  padding: 1px;
}
.right {
  float: right;
  overflow: hidden;
}
.left {
  float: left;
  overflow: hidden;
}
.clear {
  clear: both;
  display: block;
}
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#wrap {
  width: 1200px;
  margin: 0 auto;
  background-color: #000;
}
.notice {
  width: 100%;
  float: left;
  padding: 10px 15px;
  background: #111;
  box-sizing: border-box;
  text-align: center;
  color: #d60000;
  font-size: 16px;
  font-weight: 300;
  display:flex;
}
.content-main,
.content-left,
.content-right {
  padding: 4px;
  box-sizing: border-box;
}
.content-main {
  float: left;
  width: 65%;
  padding-left: 0;
  padding-right: 0;
}
.content-left {
  float: left;
  width: 15%;
  padding-left: 0;
}
.content-right {
  float: left;
  width: 20%;
  padding-right: 0;
}
#content {
  margin: 0 auto;
  color: #11100b;
  float: left;
  width: 100%;
}
#content h1 {
  color: #f2d45f;
  font-size: 14px;
  font-family: oswald, arial, serif;
  font-weight: 400;
  margin: 0;
}
#content h1 a {
  color: #f2d45f;
  text-decoration: none;
}
#content h1 a:hover {
  color: #f6f5f5;
}
#content .breadcrumb {
  float: right;
  color: #fff;
  width: 30%;
  box-sizing: border-box;
  font-size: 12px;
  text-align: right;
}
#content .breadcrumb a {
  color: #f1f1f1;
  text-transform: none;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
#content .breadcrumb a:hover {
  color: #a91b33;
  text-decoration: none;
}
.box {
  width: 100%;
  float: left;
  padding: 0;
  background: #111;
  border: 1px solid #333;
  box-sizing: border-box;
  margin-bottom: 4px;
}
.box-header,
.box h3 {
  background-color: #a80e0d;
  float: left;
  width: 100%;
  margin: 0;
  padding: 8px;
  border-bottom: 1px solid #333;
  color: #f2d45f;
  font-size: 18px;
  font-weight: 400;
  text-transform: none;
  box-sizing: border-box;
}
.box-header ul {
  float: left;
  list-style: none;
  margin: -6px 0 0 -3px;
  padding: 0;
}
.box-header li.menu-item {
  background: url(images/tam-nav.png) no-repeat right;
  margin: -2px -11px 0 0;
  padding: 0 11px 0 0;
  float: left;
  list-style: none;
}
.box-header li.menu-item a {
  background: url(images/sprite.png) 0 -133px no-repeat;
  color: #f3f3f3;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px 20px 4px 29px;
}
.box-header li.menu-item a:hover,
.box-header li.current-menu-item a:active {
  background: url(images/sprite.png) 0 -103px no-repeat;
  color: #000;
  margin: 0 10px 0 0;
  padding: 5px 10px 2px 29px;
  text-decoration: none;
}
.box-header li.current-menu-item {
  background: url(images/tam-nav.png) no-repeat right;
  margin: -2px -11px 0 0;
  padding: 0 11px 0 0;
  float: left;
  list-style: none;
}
.box-header li.current-menu-item a {
  background: url(images/sprite.png) 0 -103px no-repeat;
  color: #ccc;
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  text-transform: uppercase;
  padding: 5px 20px 4px 29px;
}
.box-header li.current-menu-item a:hover,
.box-header li.current-menu-item a:active {
  background: url(images/sprite.png) 0 -103px no-repeat;
  color: #ccc;
  margin: 0 10px 0 0;
  padding: 5px 10px 2px 29px;
  text-decoration: none;
}
.box-content {
  padding: 4px;
}
.header {
  margin: 0;
  padding: 0;
  overflow: hidden;
  width: 100%;
}
.header-left {
  width: 40%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
}
.header-logo {
  float: left;
  padding: 10px;
}
.header-logo img {
  border: none;
  margin: 0;
  padding: 0;
}
.header-social {
  width: 40%;
  float: left;
  padding: 15px 10px 10px;
}
.header-right {
  width: 60%;
  float: left;
  padding: 10px;
  box-sizing: border-box;
  text-align: right;
}
.header-search {
  float: right;
  background: #333;
  border-radius: 3px;
  max-width: 300px;
  padding: 2px;
}
.header-search-icon {
  float: left;
  border: 1px solid #ccc;
  border-right: none;
  border-radius: 3px 0 0 3px;
  background: #fff;
  width: 20px;
  height: 20px;
  padding: 4px;
  color: #555;
  text-align: center;
}
.header-search-icon i.fa {
  margin-top: 1px;
  font-size: 18px;
}
.header-search-input {
  float: left;
  border: 1px solid #ccc;
  background: #fff;
  font-size: 14px;
  height: 20px;
  outline: none;
  padding: 4px;
}
.header-search-button {
  color: rgb(0, 0, 0);
  float: left;
  border: 1px solid #ccc;
  border-left: none;
  border-radius: 0 3px 3px 0;
  font-size: 14px;
  height: 20px;
  padding: 4px 10px;
  box-sizing: content-box;
  background: #a80e0d;
  background-image: -webkit-linear-gradient(top, #a80e0d, #a80e0d);
  background-image: -moz-linear-gradient(top, #a80e0d, #a80e0d);
  background-image: -ms-linear-gradient(top, #a80e0d, #a80e0d);
  background-image: -o-linear-gradient(top, #a80e0d, #a80e0d);
  background-image: linear-gradient(to bottom, #a80e0d, #a80e0d);
  outline: none;
}
.header-title {
  float: right;
  font-size: 16px;
  margin-bottom: 5px;
}
.header-title a {
  color: #f2d45f;
  transition: ease-in-out 100ms;
  font-weight: 700;
  text-decoration: none;
}
.header-title a:hover {
  color: #bdbd8c;
}
.navbar {
  color: #f2d45f;
  width: 100%;
  position: relative;
  min-height: 50px;
  background: #a80e0d;
  box-sizing: border-box;
  text-align: center;
  padding: 0;
  margin-bottom: 4px;
}
.nav {
  box-sizing: border-box;
  background: #a80e0d;
  padding: 0;
  margin: 0;
  overflow: hidden;
  -webkit-box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
}
.nav li {
  float: left;
  display: block;
  position: relative;
}
.nav li a {
  position: relative;
  display: block;
  padding: 14px 20px;
  color: #f2d45f;
  border-right: 0 solid #181818;
  border-left: 1px solid #333;
  background: #a80e0d;
  font-size: 20px;
  text-decoration: none;
  font-weight: 500;
  transition: 0.3s;
  -webkit-box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
  box-shadow: inset 0 20px 10px -20px rgba(0, 0, 0, 0.8);
}
.nav li:first-child a {
  border-left: none;
}
.nav li:last-child a {
  border-right: none;
}
.nav li a,
.nav li a:link,
.nav li a:visited {
}
.nav li a:hover,
.nav li a:active {
  transform: scale(1.08);
  color: #ffffff;
  background: #333;
}
.nav li li a,
.nav li li a:link,
.nav li li a:visited {
  background: #333;
  color: #ccc;
  font-size: 11px;
  font-family: oswald, arial, serif;
  font-weight: 400;
  text-transform: uppercase;
  float: none;
  margin: 0;
  padding: 3px 5px;
  border-bottom: 1px solid #242424;
  border-left: 1px solid #161616;
  border-right: 1px solid #242424;
  border-top: 1px solid #414141;
}
.nav li li a:hover,
.nav li li a:active {
  background: #333;
  color: #ccc;
  padding: 3px 5px;
  border-bottom: 1px solid #242424;
  border-left: 1px solid #191919;
  border-right: 2px solid #97c000;
  border-top: 1px solid #414141;
}
.nav li ul.sub-menu {
  float: left;
  margin-left: -2px;
  padding: 0;
  border: 1px solid #0e0e0e;
  width: 142px;
  box-shadow: 0 0 2px 2px #111;
}
.rss-icon {
  background: url(images/html-icon.png) 0 0 no-repeat;
  width: 60px;
  height: 60px;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.rss-icon:hover {
  background: url(images/html-icon.png) 0 -68px no-repeat;
}
.fb-icon {
  background: url(images/html-icon.png) -146px 0 no-repeat;
  width: 60px;
  height: 60px;
  border: 0;
  margin: 0;
  padding: 0;
  display: block;
  text-indent: -9999px;
  overflow: hidden;
  float: left;
  transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  -moz-transition: all 0.3s linear;
  -webkit-transition: all 0.3s linear;
}
.fb-icon:hover {
  background: url(images/html-icon.png) -146px -68px no-repeat;
}
#footer {
    width: 70%;
    margin: 0 auto;
    /* background: #161616; */
    min-height: 60px;
    padding: 0;
    /* border-top: 1px solid #292929; */
}
#footer p {
  color: #fff;
  font-size: 11px;
  margin: 0;
  padding: 9px 0 0;
}
#footer a,
#footer a:visited {
  color: #ccc;
  text-decoration: none;
}
#footer a:hover {
  color: #fff;
  text-decoration: underline;
}
#footer span {
  font-size: 11px;
  color: #999;
  font-weight: 700;
}
.footer {
  margin: 0 auto;
  padding: 10px;
}
.footeright {
  float: right;
  width: 60px;
  color: #ccc;
}
.footerleft {
  float: left;
  width: 795px;
  color: #ccc;
}
